//font-family
$red-hat-font: "Red Hat Display", sans-serif;

 //font weight
 $font-weight-regular: 500;
 $font-weight-bold: 700;
 $font-weight-strong: 900;

 //font size
 $font-size-16: 16px;
 $font-size-20: 20px;